.abc {
    background-color: khaki;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: xx-large;
}

.main {
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 2px;
    width: 80px;
    height: 150px;
    background-color: cadetblue;
    margin: 20px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid wheat;
    box-shadow: 3px 3px 20px 3px black;
    transition: 2s;
}

.box1:hover {
    transform: translate(-50px, 30px);
}

.box2:hover:hover {
    transform: translate(50px, 30px);
}

.box3:hover {
    transform: rotate(180deg);
}

.box4:hover {
    transform: scale(1.5);
}

.box5:hover {
    transform: scaleX(1.5);
}

.box6:hover {
    transform: scaleY(1.5);
}

.box7:hover {
    transform: /*perspective(2)*/ scaleZ(2) rotateX(270deg);
    width: 30px;
}

/* Tranfor:Perspective is only stretch object in x-axis */

.box8:hover {
    transform: skew(25deg);
}

.box9:hover {
    transform: skewY(25deg)
}

.box10:hover {
    transform: matrix(1, 0.3, 0, 1, 0, 0)
}

figcaption{
    font-size:x-large;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}