*{
    background-color: lightgray;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    width: 25%;
    position: relative;
    margin-top: 50px;
    padding: 30px;
}
#heading{
    background-color: papayawhip;
    width: 90%;
    /* margin-right: 20px;
    margin-top: 20px; */
    height: 25px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 10px;
    /* position: absolute; */
}
#below{
    
    padding: 10px;
}
button{
    padding: 10px 15px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
}
.normal{
    background-color: dodgerblue;
}
.special{
    background-color: gold;
}
.result{
    background-color: orange;
}
.clear{
    background-color: red;
}